

/* basic layout */
main {
    display: flex;
    
}

header {
    display: flex;
    background-color: blue;
    justify-content: center;
    color: antiquewhite;
}

.search-box {
   
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
}
.five-day-forecast {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    /* visibility: hidden; */
}
.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.outlook {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  